<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-6">
        <h2>Danh sách lĩnh vực văn bản đơn vị</h2>
        <ol class="breadcrumb">
            <li>
                <a href="/">Trang chủ</a>
            </li>
            <li class="active">
                <strong>
                    Lĩnh vực văn bản đơn vị
                </strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight ecommerce">
    <div class="ibox-content m-b-sm border-bottom">
        <div class="row">
            <div class="col-sm-4 pull-right">
                <div class="input-group">
                    <input type="text" placeholder="Tìm kiếm..." class="input-sm form-control" ng-model="keyword" ng-enter="search()"> <span class="input-group-btn">
                        <button type="button" class="btn btn-sm btn-primary" ng-click="search()"> Tìm</button>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-content scroll-x-able">
                    <table class="footable table table-stripped toggle-arrow-tiny">
                        <thead>
                            <tr>
                                <th style="width:20px" class="center-col order-col">STT</th>
                                <th>TÊN LĨNH VỰC HỆ THỐNG</th>
                                <th>MÃ LĨNH VỰC</th>
                                <th>TÊN LĨNH VỰC</th>
                                <th class="center-col">TRẠNG THÁI</th>
                                <th class="center-col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in listItems">
                                <td style="height:40px" class="center-col">{{recordsPerPage*(currentPage-1)+$index+1}}</td>
                                <td>{{item.documentFieldTitle}}</td>
                                <td>{{item.code==null?item.documentFieldCode:item.code}}</td>
                                <td>{{item.title}}</td>
                                <td class="center-col"><a href="javascript:void(0);"> <i class="fa fa-toggle-{{item.active|statusFilter}}"></i></a></td>
                                <td>
                                    <div class="btn-group pull-right" ng-show="{{item.allowClientEdit}}">
                                        <button class="btn btn-default btn-sm dropdown-toggle no-borders" data-toggle="dropdown"><i class="glyphicon glyphicon-option-vertical"></i></button>
                                        <ul class="dropdown-menu pull-right list-function" role="menu">
                                            <li ng-hide="{{(item.title==null||item.allowClientEdit===false)||item.allowClientEdit===false}}">
                                                <a title="Thêm mới" ui-sref="add_edit_documentFieldDepartment({id:item.id,idDocumentField:item.documentFieldId,type:'add', currentPage:currentPage, keyword: keyword})">
                                                    Thêm mới
                                                </a>
                                            </li>
                                            <li>
                                                <a title="Chỉnh sửa" ui-sref="add_edit_documentFieldDepartment({id:item.id,idDocumentField:item.documentFieldId,type:'edit',currentPage:currentPage, keyword: keyword})">
                                                    Chỉnh sửa
                                                </a>
                                            </li>
                                            <li>
                                                <a title="Xóa" ng-click="deleteDocumentFieldDepartment(item.id)">
                                                    Xóa
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="7" class="footable-visible">
                                    <span class="pagination pull-right"> <ul uib-pagination items-per-page="recordsPerPage" total-items="totalItems" ng-model="currentPage" max-size="maxSize" ng-change="getListDocumentFieldDepartment(currentPage)" class="pagination-sm" boundary-links="true" rotate="true" force-ellipses="true" first-text="<<" last-text=">>" next-text=">" previous-text="<"></ul></span>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

