<form class="form-horizontal" novalidate name="frmAddOrEditTaskType" role="form" ng-submit="save()">
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-sm-10">
            <h2>{{titleForm}}</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="/">Trang chủ </a>
                </li>
                <li class="active">
                    <strong>{{titleForm}}</strong>
                </li>
            </ol>
        </div>
    </div>
    <div class="wrapper wrapper-content animated fadeInRight ecommerce">
        <div class="row">
            <div class="col-lg-12 animated fadeInRight">
                <div class="form-box-header">
                    <div class="pull-left form-actions">
                        <p class="required-notic">(Những trường <span class="label-required">*</span> là bắt buộc nhập)</p>
                    </div>
                    <div class="pull-right form-actions">
                        <button class="btn btn-sm btn-primary" type="submit">Cập nhật</button>
                        <button type="button" class="btn btn-sm btn-white" ng-click="BindList(1)">Hủy bỏ</button>
                    </div>
                </div>
                <div class="form-box">
                    <div class="form-body">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Mã <span class="label-required">*</span></label>
                            <div class="col-sm-6">
                                <input type="text" id="code" placeholder="Mã mảng công việc" ng-model="taskType.code" ng-init="focusCode()" name="code" class="form-control" maxlength="50" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Tên mảng <span class="label-required">*</span></label>
                            <div class="col-sm-6">
                                <input type="text" placeholder="Tên mảng công việc" ng-model="taskType.title" name="fieldName" id="title" class="form-control" maxlength="256">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3">Trạng thái</label>
                            <div class="col-sm-6">
                                <input type="checkbox" ng-init="taskType.active = true" name="active" ng-model="taskType.active"> kích hoạt
                            </div>
                        </div>
                    </div>
                    <div class="form-body text-right tooltip-demo form-actions">
                        <button class="btn btn-sm btn-primary" type="submit">Cập nhật</button>
                        <button type="button" class="btn btn-sm btn-white" ng-click="BindList(1)">Hủy bỏ</button>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</form>



